name: Push CI
permissions:
  contents: read
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v5

      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
          registry-url: "https://registry.npmjs.org"

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Checks
        run: bun run checks
        if: startsWith(matrix.node-version, '22.')

      - name: Prettier
        run: bun run lint:prettier
        if: startsWith(matrix.node-version, '22.')

      - name: Typescript
        run: yarn run tsc
        if: startsWith(matrix.node-version, '22.')

      - name: Eslint
        run: bun run lint:eslint
        if: startsWith(matrix.node-version, '22.')

      - name: Check nothing was forgotten before commit
        if: startsWith(matrix.node-version, '22.')
        run: yarn run repository-check-dirty
